* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: white;
}

h2, ul, a {
    font-family: "Oswald", serif;
    font-weight: 200;
    color: white;
}

p {
    font-family: "Oswald", serif;
    font-weight: 200;
    color: white;
    text-align: justify;
    padding: 25px;
}

header {
    position: sticky;
    top: 0px;
}

.title {
    background-color: #395B64;
    background-image: linear-gradient(#395B64, #262e2e);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 60px;
}

.titlewords h1 {
    justify-content: bottom;
    display: flex;
    align-items: center;
}

.navselect {
    float: left;
    justify-content: center;
    display: flex;
}

.navselect ul {
    list-style: none;
    display: flex;
}

.navselect ul li {
    padding: 20px;
    display: inline-block;
}

.footer {
    background-color: #395B64;
    background-image: linear-gradient(#395B64, #2C3333);
    width: 100%;
    height: 80px;
    float: bottom;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 60px;
}

section .center{
    background-color: #2C3333;
    width: 90%;
    height: 2500px;
    float: left;
}

section .center2{
    background-color: #2C3333;
    width: 90%;
    height: 750px;
    float: left;
}

section .center3{
    background-color: #2C3333;
    width: 90%;
    height: 1500px;
    float: left;
}

section .center div {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

section .center2 div {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

section .center3 div {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

section .center div h2 {
    background-color: #262e2e;
    background-image: linear-gradient(#262e2e 80%, #2C3333);
    height: 50px;
    width: 100%;
    }

section .center2 div h2 {
    background-color: #262e2e;
    background-image: linear-gradient(#262e2e 80%, #2C3333);
    height: 50px;
    width: 100%;
    }

    section .center3 div h2 {
    background-color: #262e2e;
    background-image: linear-gradient(#262e2e 80%, #2C3333);
    height: 50px;
    width: 100%;
    }

.closer {
    background-color: #A5C9CA;
    background-image: linear-gradient(#2C3333, #A5C9CA, #2C3333);
    width: 5%;
    height: 2500px;
    float: left;
}

.closer2 {
    background-color: #A5C9CA;
    background-image: linear-gradient(#2C3333, #A5C9CA, #2C3333);
    width: 5%;
    height: 750px;
    float: left;
}

.closer3 {
    background-color: #A5C9CA;
    background-image: linear-gradient(#2C3333, #A5C9CA, #2C3333);
    width: 5%;
    height: 1500px;
    float: left;
}

.mainlogo {
    height: 100px;
    width: 100px;
    float: left;
    clear: none;
    display: flex;
}

.mainlogo:hover {
    content: url(/img/matthead.png);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Oswald";
  }

  label {
    font-family: "Oswald";
    color: white;
  }

  div ul {
    list-style: none;
  }

  .songtitle {
    text-align: center;
  }

  .footerimg {
    height: 60px;
    width: 60px;
  }

  .dexbake {
    height: 600px;
    width: 800px;
  }